
@{
    ViewBag.Title = "Uputstvo";
}

<h2>Uputstvo</h2>

Učitajte falj u odgovarajućem format
<br/>

<textarea cols="35" rows="9" style="border: none">
<RasporedCasova>
    <Raspored>
        <Rbr>...</Rbr>
        <DanUNedelji>...</DanUNedelji>
        <Predmet>...</Predmet>
    </Raspored>
    ...
</RasporedCasova>
</textarea>
<br />
Na stranici će se pojaviti raspored časova u tabelarnom obliku.