@{
    ViewBag.Title = "Uputstvo";
}
<h3>@ViewBag.Title.</h3>

<p>Klinite na <b>Vremensku prognozu</b> za pojedinаčni grad ili <b>Maksimalne temperature</b> da vidite maksimalne temperature po gradovima.</p>
